body {
  font-family: "Raleway", sans-serif;
  background-color: white;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color negro con 50% de opacidad */
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2;
}

.logo {
  width: 100px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}