body {
  font-family: "SUSE", sans-serif;
  background-color: white;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-h1 {
  margin-top: 100px;
  /* Ajusta este valor según sea necesario */
}

.text-light-gray {
  color: #585555;
  /* Gris claro */
}


.logo {
  width: 100px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-url-1 {
  background-image: url('../img/card-1.jpg');
}

.image-url-2 {
  background-image: url('../img/card-2.png');
}

.image-url-3 {
  background-image: url('../img/card-3.jpg');
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}